<!DOCTYPE html>
<html lang="en" ng-app="reagentsUi">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reagent scanning</title>
  <meta name="description" content="Reagents scanning UI">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="reagents.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/controllers.js"></script>

</head>
<body ng-controller="scanningController">

<div class="top">
	<button ng-click="refresh()">Refresh kits</button>
</div>
<img src="gfx/moose.png"/>

<div class="scanning-pane">
  <h1>Scanning</h1>
<table class="scanning">
	<tr>
	<td>
		REF:
	</td> <td>
		<input ng-model="ref" focus-on="focusRef" select-on="selectRef" ng-change="refChanged()" />
	</td>
	</tr>
	<tr>
	<td>
		LOT:
	</td> <td>
		<input ng-model="lotnumber" focus-on="focusLot" ng-change="lotChanged()" />
	</td>
	</tr>
	<tr ng-hide="!kit.requestLotName">
	<td>
		RGT:
	</td><td>
		<input ng-model="rgt" focus-on="focusRgt" ng-change="rgtChanged()"/>
	</td>
	</tr>
</table>
</div>
<div class="detail-pane" ng-hide="!kit.found || deleted">
	<h4>Kit: {{ kit.name }}</h4>
	<table>
		<tr>
      <td>Cat. no.:</td>
			<td>{{ kit.ref }}</td>
		</tr>
		<tr>
      <td>Lot:</td>
			<td>{{ lot.lotnumber }}</td>
		</tr>
    <tr>
      <td>Rgt/unique ID:</td>
			<td>{{ lot.uid }}</td>
    </tr>
  	<td>
  		Expiry date:
  	</td> <td>
  		<input type="text" ng-model="lot.expiryDate" ng-hide="lot.known" focus-on="focusDate" placeholder="YYYY/MM/DD" />
  		<span ng-hide="!lot.known">{{ lot.expiryDate }}</span>
  	</td>
  	</tr>
	</table>
  <div class="confirm-save" ng-hide="!(kit.found && lot.lotnumber && lot.uid && lot.expiryDate) || submitted">
    <button class="save" ng-click="saveLot()">&#x2795; Save</button>
    <div>(scan a new REF to cancel)</div>
  </div>
  <div class="submitted" ng-hide="!(submitted && !saved)">
    &#x2794; Storing...
  </div>
  <div class="saved" ng-hide="!(submitted && saved)">
    <div>&#x2705; Saved</div>
  </div>
</div>
<h2 ng-hide="!error">Error:</h2>
<iframe src="about:blank" ng-hide="!error" id="error-frame" width="1000" height="200"/>

</body>
</html>
