/* app css stylesheet */

div.scanning {
	width: 20em;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
	float: left;
}

div.infopane {
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
	float: left;
}

.menu > li {
  display: inline;
}


