/* app css stylesheet */

div.top {
	width: 100%;
	text-align: right;
	padding 0.5em;
}

div.scanning-pane {
	width: 20em;
	height: 20em;
	border-top: 0.1em solid black;
	margin: 5em;
	padding: 1em 0 0.5em;
	float: left;
}

div.detail-pane {
	width: 20em;
	height: 20em;
	border-top: 0.1em solid black;
	margin: 5em;
	padding: 0 0 0.5em;
	float: left;
}

td {
	padding: 0.2em;
}

.menu > li {
  display: inline;
}

div.confirm-save {
	text-align: right;
}

div.submitted {
	text-align: right;
	color: orange;
	font-size: 1.3em;
}

div.saved {
	text-align: right;
	color: green;
	font-size: 1.3em;
}

button.delete {
	color: red;
}
