<!DOCTYPE html>
<html ng-app="seqStatusApp">
<head>
<title>Base counter</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script src="EventSource.js"></script>
<script src="angular.js"></script>
<script src="gauge.min.js"></script>
<script src="status.js"></script>
</head>
<body ng-controller="SeqStatusController">

<div class="seq-box" ng-repeat="machine in machineOrderedList">
  <div class="sequencer" ng-class="{'seq-running': machine.running, 'seq-not-installed': !machine.installed}">
    <img class="seq-icon" ng-src="{{ machine.icon }}">
    <h2 class="seq-name">{{machine.name}}</h2>
    <h2 class="seq-type">{{machine.typeName}}</h2>
    <div class="clear"></div>
    <div class="run-list">
      <div ng-repeat="run in machine.runs" class="run" ng-class="{'run-failed': run.data.cancelled, 'run-completed': run.data.finished, 'running': !(run.data.finished || run.data.cancelled)}">
  			<div class="progress-wrapper">
  				<div ng-class="{'progress-indicator': !(run.data.cancelled), 'progress-indicator-done': run.data.finished}" ng-style="{width: run.completionPct + '%'}">
              <span class="run-counter">{{run.basecount | number}}</span>
          </div>
  			</div>
      </div>
    </div>
  </div>
</div>

<div class="total-count-box">
  <div class="total-count">
  	<canvas id="gauge"></canvas>
  	<div id="rate">{{xBaseRate | number:1}} {{baseRateUnit}}</div>
  	<h2 class="total-count-header">Number of bases sequenced at NSC in 2016</h2>
  	<div class="grandtotal">{{globalBaseCounter.basecount | number}}</div>
  </div>
</div>

</body>
</html>
