body {
	font-family: Arial;
}

div.header {
	width: 100%;
	height: 3em;
	padding: 0;
	margin: 0;
}

div.header-text {
	width: 20em;
	float: left;
	margin-left: 1em;
}


img.logo {
	float: left;
	width: 10em;
	height: 3em;
}

h1.title {
	font-size: 1.3em;
	font-family: Arial;
	font-weight: normal;
}

img.seq-icon {
	float: left;
}

h2.seq-name {
	display: block;
	float: left;
	padding: 5px;
}

h2.seq-type {
	float: right;
	padding-right: 10px;
	color: #AAA;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

div.sequencer {
	float: left;
	padding: 15px;
	width: 300px;
	height: 200px;
}

div.seq-running {
}

div.seq-idle {
}

div.clear {
	clear: both;
}

div.run-list {
	padding: 0;
	margin: 0;
	color: pink;
}

div.run {
	border: 1px solid green;
	text-align: center;
}

div.run-failed {
	border-color: red;
}

div.running {
	border-color: blue;
}

div.run-completed {
	border-color: green;
}
div.total-count {
	text-align: center;
	position: fixed;
	width: 500px;
	margin-left: -250px;
	height: 300px;
	bottom: 0;
	left: 50%;
	background-color: #FFF;
	border: 1px solid black;
}

div#rate {
	margin-bottom: 1em;
}

h2.total-count-header {
}

div.grandtotal {
	text-align: center;
	font-family: monospace;
	font-size: 1.8em;
}

canvas.gauge {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

div.progress-wrapper {
	height: 20px;
	width: 100%;
}

div.progress-indicator {
	height: 100%;
	text-align: right;
	overflow: visible;
	background-color: #DDF;
}

div.progress-indicator-done {
	background-color: #DFD;
}

span.run-counter {
	font-family: monospace;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 1.1em;
}
