body {
	font-family: Arial;
}

div.header {
	width: 100%;
	height: 3em;
	padding: 0;
	margin: 0;
}

div.header-text {
	width: 20em;
	float: left;
	margin-left: 1em;
}


img.logo {
	float: left;
	width: 10em;
	height: 3em;
}

h1.title {
	font-size: 1.2em;
	font-family: Arial;
	font-weight: normal;
	margin-top: -5px;
}


