body {
	font-family: Arial;
	font-size: 16px;
}

div.header {
	width: 100%;
	height: 3em;
	padding: 0;
	margin: 0;
}

div.header-text {
	width: 20em;
	float: left;
	margin-left: 1em;
}


img.logo {
	float: left;
	width: 10em;
	height: 3em;
}

h1.title {
	font-size: 1.3em;
	font-family: Arial;
	font-weight: normal;
}

img.seq-icon {
	float: left;
	padding-bottom: 10px;
}

h2.seq-name {
	display: block;
	float: left;
	font-size: 0.95em;
	padding: 5px;
}

h2.seq-type {
	float: right;
	padding-right: 10px;
	color: #AAA;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

div.seq-box {
	float: left;
	transition: left 0.5s;
	width: 300px;
	height: 160px;
}

div.seq-row {
	display: block;
}


div.sequencer {
	padding: 15px;
}

div.seq-running {
}

div.seq-not-installed {
	color: #999999;
}

div.clear {
	clear: both;
}

div.run-list {
}

div.run {
	margin: 1px;
	border: 1px solid green;
	text-align: center;
	font-weight: lighter;
}

div.run-failed {
	border-color: red;
}

div.running {
	border-color: blue;
}

div.nipt {
	border-color: rgb(210, 168, 30);
}

div.run-completed {
	border-color: green;
}

div.total-count-box {
	position: fixed;
	height: 300px;
	bottom: 15px;
	right: 20px;
}

div.total-count {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #FFF;
	border: 1px solid black;
}

div#rate {
	margin-bottom: 1em;
}

h2.total-count-header {
}

div.grandtotal {
	text-align: center;
	font-family: monospace;
	font-size: 1.8em;
	margin: 5px;
}

.hidden {
	display: none;
}

div.progress-wrapper {
	height: 20px;
	width: 100%;
}

div.progress-indicator {
	height: 100%;
	text-align: right;
	overflow: visible;
	background-color: #DDF;
}

div.nipt > div.progress-wrapper > div.progress-indicator {
	background-color: rgb(254, 255, 221);
}

div.progress-indicator-done {
	background-color: #DFD;
}

span.run-counter {
	font-family: monospace;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 1.1em;
}
