<!DOCTYPE html>
<html>
<head>
<title>Quick Project Importer</title>
<link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>

<h1><img src="static/logo.png" class="logo"></h1>
<h2>Quick project importer</h2>

{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}

<form action="submit" method="post" enctype="multipart/form-data">
<table>
  <tr>
    <td>Clarity Username:</td>
    <td><input type="text" size="15" name="username" value="{{ username }}"></td>
  </tr>

  <tr>
    <td>Password:</td>
    <td><input type="password" size="15" name="password" value="{{ password }}"></td>
  </tr>

  <tr>
    <td>Project type:</td>
    <td><select name="template" onchange="setPresetProjectName(this.value)" id="template">
            <option value="">Select one...</option>
            {% for project_type in project_types %}
            <option value="{{ project_type }}"{{ ' selected="selected"' if preset_project_type == project_type }}>{{ project_type }}</option>
            {% endfor %}
        </select>
    </td>
  </tr>

  <tr>
    <td>Sample table file:</td>
    <td><input type="file" name="sample_file" onchange="selectFile(this.value)"></td>
  </tr>

  <tr>
    <td>Project name:</td>
    <td><input type="text" size="35" name="projectname" id="projectname" value="{{ projectname }}"></td>
  </tr>

</table>
<script>

function setPresetProjectName(value) {
{% for project_type in project_types %}
{% if project_type not in project_types_for_filename %}
if (value == "{{ project_type }}") { document.getElementById("projectname").value = "{{ project_name_presets[project_type] }}" }
{% endif %}
{% endfor %}
}

function selectFile(value) {
{% for project_type in project_types_for_filename %}
if (document.getElementById("projectname").value  == "" && document.getElementById("template").value == "{{ project_type }}") {
          document.getElementById("projectname").value = "{{ project_name_presets[project_type] }}-" + value.replace(/^.*[\\\/]/, "").replace(/\.csv$/, "");
}
{% endfor %}
}
</script>
<p>
<input type="submit" value="Create project">
</p>
</form>

</body>
</html>
