Point prefix legend:
        -: Managed in ansible NSC-OUS, not UiO
        *: Managed in ansible and 21-new-instance-prep-uio-rhel.sh
        o: Manual only

Prepare new instance: 

- SELinux disabled
* postgresql 9.6 repo installed, package installed
* Accounts arvindsu, paalmbj with sudo access
o Transfer in the backup file and unpack in a directory not at the fs root
o Install the postgres config files pg_hba.conf and postgresql.conf from backup

----
* Mount point for ous-lims and cees-lims
