<!DOCTYPE html>
<html>
<head>
<title>External project importer -- {{ special_type_name }}</title>
<link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>

<h1><img src="../static/logo.png" class="logo"></h1>
<h2>Create project for: {{ special_type_name }}</h2>

{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}

<form action="submit" method="post" enctype="multipart/form-data">
<table>
  <tr>
    <td>Clarity Username:</td>
    <td><input type="text" name="username" value="{{ username }}"></td>
  </tr>

  <tr>
    <td>Password:</td>
    <td><input type="password" name="password" value="{{ password }}"></td>
  </tr>

  <tr>
    <td>Project name:</td>
    <td><input type="text" name="project_title" value="{{ project_title }}"></td>
  </tr>

  <tr>
    <td>Sample file:</td>
    <td><input type="file" name="sample_file"></td>
  </tr>

  <tr>
    <td>Box 1 LOT:</td>
    <td><input type="text" name="param_box1lot" value="{{ param_box1lot }}"></td>
  </tr>

  <tr>
    <td>Box 1 RGT:</td>
    <td><input type="text" name="param_box1ref" value="{{ param_box1ref }}" placeholder="RGTxxxxxxxx"></td>
  </tr>

  <tr>
    <td>Box 2 LOT:</td>
    <td><input type="text" name="param_box2lot" value="{{ param_box2lot }}"></td>
  </tr>

  <tr>
    <td>Box 2 RGT:</td>
    <td><input type="text" name="param_box2ref" value="{{ param_box2ref }}" placeholder="RGTxxxxxxxx"></td>
  </tr>

  <tr>
    <td>Reagent cartridge ID:</td>
    <td><input type="text" name="param_cart_id" value="{{ param_cart_id }}" placeholder="MSXXXXXXX-XXXVX"> * </td>
  </tr>

  <tr>
    <td>MiSeq Instrument:</td>
    <td><select name="param_miseq">
            <option value="NULL">Select one...</option>
            {% for miseq in miseqs %}
            <option value="{{ miseq }}"{{ ' selected="selected"' if param_miseq == miseq }}>{{ miseq }}</option>
            {% endfor %}
        </select>
    </td>
  </tr>

  <tr>
    <td>Loading Conc.:</td>
    <td><input type="text" name="param_loading" value="{{ param_loading }}" size="6"> pM</td>
  </tr>

  <tr>
    <td>PhiX:</td>
    <td><input type="text" name="param_phix" value="{{ param_phix }}" size="6"> %</td>
  </tr>

</table>
<p>
<input type="submit" value="Create project &amp; register run">
</p>
</form>
<p class="small">* It's OK to use &quot;+&quot; instead of &quot;-&quot; in the barcode.</p>

</body>
</html>

